body{
    font-family: sans-serif;
    color:black;
}
html{
    min-height: 100%;
        background-image: linear-gradient(rgba(51,153,255,1), rgba(51,153,255,0));
}
.card{
    background-color:#f0f0f5;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    padding: 1% 4% 3% 4%;
    box-shadow: 0 1px 3px rgba(10,10,15,1), 0 1px 2px rgba(10,10,15,0);
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), rgba(0,0,0,0);
    background-color: rgba(224,224,235,1);
}

#title{
    font: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2%;
}

.list{
    font: sans-serif;
    font-size: 15px;
}

h1{
    margin-bottom: 6%;
}
.rotate{
    transform: rotate(90deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}